@import "tailwindcss";

@font-face {
  font-family: ibm;
  src: url(./assets/font/IBM_Plex_Sans_Thai/IBMPlexSansThai-Regular.ttf);
}



@theme {
  --font-ibm: ibm;
  --color-gray-1: #C2C2C2;
  --color-golden-1: #D4903B;
  --color-blue-1: #04185C;
  --color-blue-2: #16224B;
  --color-blue-3: #050326;
  --color: var(--color-blue-1);
}

@layer base {
  * {
    @apply box-border font-ibm
  }
}

@layer utilities {
  .--btn {
    @apply hover:cursor-pointer hover:scale-[1.05] active:scale-[.95] transition-all duration-75 select-none
  }

  .active {
    @apply bg-blue-2 text-white
  }

}