@import "tailwindcss";

* {
  box-sizing: border-box;
  color: var(--color-blue-1);
  font-family: ibm;
  font-weight: bolder;
}

@font-face {
  font-family: ibm;
  src: url(./assets/font/IBM_Plex_Sans_Thai/IBMPlexSansThai-Regular.ttf);
}

li:hover {
  cursor: pointer;
}

li {
  user-select: none;
}


@theme {

  --color-golden-1: #D4903B;
  --color-blue-1: #04185C;
  --color-blue-2: #16224B;
  --color-blue-3: #050326;
  --color: var(--color-blue-1);
}